.row
  - @best_sellers.each do |bestseller|
    .col-sm-6.col-md-3
      .general-thumb-wrap
        .thumbnail.general-thumbnail
          - if bestseller.images.any?
            %img.img-shadow.general-thumbnail-img{src: icon_book_image(bestseller)}
          - else
            %img.img-shadow.general-thumbnail-img{src: "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ352GRUKdIFLP3va0Tj7QREidI4lwUABrtUJbQehqIL02O_blo", alt: "design-book"}
          .thumb-hover
            .general-thumb-link-wrap
              = link_to main_app.book_path(bestseller), class: 'thumb-hover-link' do
                %i.fa.fa-eye.thumb-icon{'aria-hidden': 'true'}
              = link_to shopping_cart.order_items_path(product_id: bestseller.id, quantity: 1), method: :post, class: 'thumb-hover-link', remote: true do
                %i.fa.fa-shopping-cart.thumb-icon
      .mb-35
        .clearfix
          %p.pull-right.font-16.in-gold-500= price_to_euro(bestseller.price)
          %p.title.mr-55= bestseller.title
        %span.divider-sm
        %p.lead.small= bestseller.authors_list