.col-xs-6.col-sm-3
  .general-thumb-wrap
    .thumbnail.general-thumbnail
      - if book.images.any?
        %img.img-shadow.general-thumbnail-img{src: icon_book_image(book)}
      - else
        %img.img-shadow.general-thumbnail-img{src: "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ352GRUKdIFLP3va0Tj7QREidI4lwUABrtUJbQehqIL02O_blo", alt: "design-book"}
      .thumb-hover
        .general-thumb-link-wrap
          = link_to main_app.book_path(book), class: 'thumb-hover-link', id: "book#{book.id}_link" do
            %i.fa.fa-eye.thumb-icon
          = link_to shopping_cart.order_items_path(product_id: book.id, quantity: 1), method: :post, class: 'thumb-hover-link', remote: true do
            %i.fa.fa-shopping-cart.thumb-icon{id: "book#{book.id}_cart_icon"}
  .general-thumb-info
    .space-between
      %p.title= book.title
      %p.font-16.in-gold-500= price_to_euro(book.price)
    %span.divider-sm
    %p.lead.small= book.authors_list
