%ul.list-inline.pt-10.mb-25.mr-240
  %li.mr-35
    = link_to main_app.catalog_path, class: "filter-link" do
      = t('button.all')
      %span.badge.general-badge= Category.all.sum(&:books_count)
  - Category.all.each do |category|
    %li.mr-35
      = link_to main_app.catalog_path(category: category.id, filter: @filter), class: "filter-link" do
        = category.title
        %span.badge.general-badge= category.books_count