%ul.dropdown-menu
  %li
    = link_to t('button.newest'), main_app.catalog_path(category: @category_id, filter: :newest)
  %li
    = link_to t('button.popular'), main_app.catalog_path(category: @category_id, filter: :popular)
  %li
    = link_to t('button.low_to_high_price'), main_app.catalog_path(category: @category_id, filter: :low_to_high_price)
  %li
    = link_to t('button.high_to_low_price'), main_app.catalog_path(category: @category_id, filter: :high_to_low_price)
  %li
    = link_to t('button.title_a_z'), main_app.catalog_path(category: @category_id, filter: :title_a_z)
  %li
    = link_to t('button.title_z_a'), main_app.catalog_path(category: @category_id, filter: :title_z_a)