%ul.media-list
  - @reviews.each do |review|
    %li.media.card
      .media-left
        %span.img-circle.logo-size.logo-empty.media-object= review.avatar_letter
      .media-body
        %div
          %p.general-message-date.hidden-xs= review.created_at.strftime('%Y/%m/%d')
          .max-240
            .general-message-name= review.reviewer_name
        .mb-15
          - review.rating.times do
            %i.fa.fa-star.rate-star
          - (5 - review.rating).times do
            %i.fa.fa-star.rate-star.rate-empty
        %strong.mb-10= review.title
        %p= review.description
    