%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t('button.log_in')
    = render 'devise/shared/omniauth'
  = form_for(resource, as: resource_name, url: main_app.session_path(resource_name), html: { class: "general-form" }, id: 'sign_in_form') do |f|
    .form-group.mb-30
      = f.label :email, class: "control-label input-label"
      = f.email_field :email, id: "email", class: "form-control", autofocus: true, placeholder: "Enter Email"
    .form-group.mb-30
      = f.label :password, class: "control-label input-label"
      = f.password_field :password, autocomplete: "off", id: "password", class: "form-control", placeholder: "Password"
      = link_to t('button.forgot_password'), main_app.new_password_path(resource_name), class: "help-block in-gold-500"
    .form-group.checkbox.text-center.mb-30
      %label.checkbox-label
        = f.check_box :remember_me, hidden: "true", class: "checkbox-input"
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text= t('button.remember_me')
    .text-center
      = f.submit t('button.log_in'), class: "btn btn-default mb-20"
  %p.general-sign-text.text-center
    Don’t have an Account?
    = link_to t('button.sign_up'), main_app.new_user_registration_path, class: "in-gold-500"
